In [36]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model, metrics

fname = ['data/City_Zhvi_1bedroom.csv'
         ,'data/City_Zhvi_2bedroom.csv'
         ,'data/City_Zhvi_3bedroom.csv'
         ,'data/City_Zhvi_4bedroom.csv'
         ,'data/City_Zhvi_5BedroomOrMore.csv']

getDF = lambda fname : pd.read_csv(fname)

dfList = []
for i in range(len(fname)):
    print(i)
    dfList.append(getDF(fname[i]))


def prepDF(df):
    return df

0
1
2
3
4

In [2]:
df = dfList[0]

In [3]:
df.head()

,Unnamed: 0,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
0,0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,139028.0,...,606162.0,604457.0,603126.0,601368.0,600138.0,598527.0,597268.0,597019.0,596725.0,596432.0
1,1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,114152.0,...,531014.0,530916.0,530814.0,531586.0,533161.0,534943.0,537784.0,541161.0,546048.0,550710.0
2,2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,68246.0,...,104937.0,105155.0,105502.0,105618.0,106083.0,106186.0,106299.0,106161.0,106271.0,106635.0
3,3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,95803.0,...,238850.0,239106.0,239230.0,239070.0,238942.0,238700.0,238530.0,238580.0,239266.0,240143.0
4,4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,55420.0,...,90717.0,91135.0,91256.0,91958.0,92577.0,93383.0,93500.0,93963.0,94115.0,94557.0

In [4]:
df.set_index('Unnamed: 0',drop=True, verify_integrity=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14927 entries, 0 to 14926
Columns: 299 entries, RegionID to 2020-03-31
dtypes: float64(291), int64(2), object(6)
memory usage: 34.2+ MB

In [5]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-06-30,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,139028.0,138821.0,...,606162.0,604457.0,603126.0,601368.0,600138.0,598527.0,597268.0,597019.0,596725.0,596432.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,114152.0,114014.0,...,531014.0,530916.0,530814.0,531586.0,533161.0,534943.0,537784.0,541161.0,546048.0,550710.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,68246.0,68380.0,...,104937.0,105155.0,105502.0,105618.0,106083.0,106186.0,106299.0,106161.0,106271.0,106635.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,95803.0,95724.0,...,238850.0,239106.0,239230.0,239070.0,238942.0,238700.0,238530.0,238580.0,239266.0,240143.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,55420.0,55186.0,...,90717.0,91135.0,91256.0,91958.0,92577.0,93383.0,93500.0,93963.0,94115.0,94557.0

In [6]:
df['Bedrooms'] = 1

In [7]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,Bedrooms
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,139028.0,138821.0,...,604457.0,603126.0,601368.0,600138.0,598527.0,597268.0,597019.0,596725.0,596432.0,1
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,114152.0,114014.0,...,530916.0,530814.0,531586.0,533161.0,534943.0,537784.0,541161.0,546048.0,550710.0,1
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,68246.0,68380.0,...,105155.0,105502.0,105618.0,106083.0,106186.0,106299.0,106161.0,106271.0,106635.0,1
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,95803.0,95724.0,...,239106.0,239230.0,239070.0,238942.0,238700.0,238530.0,238580.0,239266.0,240143.0,1
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,55420.0,55186.0,...,91135.0,91256.0,91958.0,92577.0,93383.0,93500.0,93963.0,94115.0,94557.0,1

                                   Metro 1996-01-31
                                   count        min      max     mean
State CountyName
AK    Anchorage Borough                1    80849.0  80849.0  80849.0
      Fairbanks North Star Borough     3        NaN      NaN      NaN
      Haines Borough                   0        NaN      NaN      NaN
      Juneau Borough                   1        NaN      NaN      NaN
      Kenai Peninsula Borough          0        NaN      NaN      NaN
...                                  ...        ...      ...      ...
WY    Sweetwater County                5        NaN      NaN      NaN
      Teton County                     4        NaN      NaN      NaN
      Uinta County                     4        NaN      NaN      NaN
      Washakie County                  0        NaN      NaN      NaN
      Weston County                    0        NaN      NaN      NaN

[2533 rows x 4 columns]

In [10]:
df.loc[0:0][['RegionName', 'Metro']]

           RegionName                        Metro
Unnamed: 0
0            New York  New York-Newark-Jersey City

In [11]:
#df.columns.tolist()

In [12]:
measureList = [
 '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31',
 '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31',
 '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31',
 '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31',
 '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31',
 '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31',
 '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31',
 '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31',
 '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31',
 '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31',
 '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31',
 '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31',
 '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31',
 '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31',
 '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31',
 '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31',
 '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31',
 '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31',
 '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31',
 '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31',
 '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31',
 '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31',
 '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31',
 '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
 '2020-01-31', '2020-02-29', '2020-03-31']

In [20]:
l = df.loc[0, measureList].tolist()
print (sum(l), len(l))
avgOfList = lambda lst: sum(lst)/len(lst)
avgOfList(l)

113651357.0 291

390554.4914089347

RegionID          6181
SizeRank             0
RegionName    New York
RegionType        City
StateName           NY
Name: 0, dtype: object

In [25]:
df.interpolate(inplace=True)

In [26]:
df.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1996-01-31,1996-02-29,...,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,Bedrooms
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,139028.0,138821.0,...,604457.0,603126.0,601368.0,600138.0,598527.0,597268.0,597019.0,596725.0,596432.0,1
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,114152.0,114014.0,...,530916.0,530814.0,531586.0,533161.0,534943.0,537784.0,541161.0,546048.0,550710.0,1
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,68246.0,68380.0,...,105155.0,105502.0,105618.0,106083.0,106186.0,106299.0,106161.0,106271.0,106635.0,1
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,95803.0,95724.0,...,239106.0,239230.0,239070.0,238942.0,238700.0,238530.0,238580.0,239266.0,240143.0,1
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,55420.0,55186.0,...,91135.0,91256.0,91958.0,92577.0,93383.0,93500.0,93963.0,94115.0,94557.0,1

In [27]:
dropCols = ['RegionID','SizeRank','RegionName','RegionType','StateName','Metro']
df.drop(dropCols, axis=1, inplace=True)
df.head()

,State,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,Bedrooms
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
0,NY,Queens County,139028.0,138821.0,138699.0,138671.0,138885.0,139046.0,139017.0,138686.0,...,604457.0,603126.0,601368.0,600138.0,598527.0,597268.0,597019.0,596725.0,596432.0,1
1,CA,Los Angeles County,114152.0,114014.0,113904.0,113826.0,113829.0,113908.0,113908.0,113522.0,...,530916.0,530814.0,531586.0,533161.0,534943.0,537784.0,541161.0,546048.0,550710.0,1
2,TX,Harris County,68246.0,68380.0,68409.0,68693.0,68877.0,68988.0,68898.0,69165.0,...,105155.0,105502.0,105618.0,106083.0,106186.0,106299.0,106161.0,106271.0,106635.0,1
3,IL,Cook County,95803.0,95724.0,95554.0,95804.0,95835.0,96166.0,96166.0,96646.0,...,239106.0,239230.0,239070.0,238942.0,238700.0,238530.0,238580.0,239266.0,240143.0,1
4,TX,Bexar County,55420.0,55186.0,55046.0,54768.0,54613.0,54504.0,54599.0,54580.0,...,91135.0,91256.0,91958.0,92577.0,93383.0,93500.0,93963.0,94115.0,94557.0,1

In [34]:
df = df.groupby(by=['State', 'CountyName'],sort=True,dropna=True).agg('mean')
df.reset_index(inplace=True)
df.head()

,State,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2019-07-31,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,Bedrooms
0,AK,Anchorage Borough,80849.000000,81502.000000,82164.000000,83404.000000,84357.000000,85114.000000,85719.000000,86258.000000,...,144734.000000,145275.000000,145708.000000,146108.000000,146717.000000,147124.000000,147829.0,146527.000000,144983.000000,1
1,AK,Fairbanks North Star Borough,100323.955128,100381.964103,100394.474359,100450.643590,100741.323077,101009.707692,101121.576923,101101.739744,...,148906.000000,150614.666667,152013.666667,153352.666667,153860.666667,154380.333333,154109.0,154107.333333,153813.333333,1
2,AK,Haines Borough,53332.921053,75690.200000,75931.333333,76387.800000,77062.466667,77513.666667,77561.266667,77322.066667,...,225859.000000,227011.000000,227504.000000,228040.000000,229061.000000,229962.000000,230572.0,230409.000000,229464.000000,1
3,AK,Juneau Borough,58400.555556,120400.142857,119688.285714,118878.000000,117216.285714,115580.714286,114277.857143,112967.285714,...,186207.000000,187391.000000,187424.000000,188273.000000,188664.000000,189021.000000,189379.0,190088.000000,190645.000000,1
4,AK,Kenai Peninsula Borough,74801.723123,85338.086017,85242.002551,85187.463773,85059.271269,85087.193048,85177.153617,85397.193308,...,140055.666667,141139.666667,141967.000000,142897.333333,143699.333333,144441.250000,145258.0,145569.916667,145496.750000,1

In [40]:
df['Target']  = df['2020-03-31']

In [41]:
df.head()

,State,CountyName,1996-01-31,1996-02-29,1996-03-31,1996-04-30,1996-05-31,1996-06-30,1996-07-31,1996-08-31,...,2019-08-31,2019-09-30,2019-10-31,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,Bedrooms,Target
0,AK,Anchorage Borough,80849.000000,81502.000000,82164.000000,83404.000000,84357.000000,85114.000000,85719.000000,86258.000000,...,145275.000000,145708.000000,146108.000000,146717.000000,147124.000000,147829.0,146527.000000,144983.000000,1,144983.000000
1,AK,Fairbanks North Star Borough,100323.955128,100381.964103,100394.474359,100450.643590,100741.323077,101009.707692,101121.576923,101101.739744,...,150614.666667,152013.666667,153352.666667,153860.666667,154380.333333,154109.0,154107.333333,153813.333333,1,153813.333333
2,AK,Haines Borough,53332.921053,75690.200000,75931.333333,76387.800000,77062.466667,77513.666667,77561.266667,77322.066667,...,227011.000000,227504.000000,228040.000000,229061.000000,229962.000000,230572.0,230409.000000,229464.000000,1,229464.000000
3,AK,Juneau Borough,58400.555556,120400.142857,119688.285714,118878.000000,117216.285714,115580.714286,114277.857143,112967.285714,...,187391.000000,187424.000000,188273.000000,188664.000000,189021.000000,189379.0,190088.000000,190645.000000,1,190645.000000
4,AK,Kenai Peninsula Borough,74801.723123,85338.086017,85242.002551,85187.463773,85059.271269,85087.193048,85177.153617,85397.193308,...,141139.666667,141967.000000,142897.333333,143699.333333,144441.250000,145258.0,145569.916667,145496.750000,1,145496.750000

In [43]:
X = df[measureList]
y = df['Target']

# splitting X and y into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4,
                                                    random_state=1)
 
# create linear regression object
reg = linear_model.LinearRegression()
 
# train the model using the training sets
reg.fit(X_train, y_train)
 
# regression coefficients
print('Coefficients: ', reg.coef_)
 
# variance score: 1 means perfect prediction
print('Variance score: {}'.format(reg.score(X_test, y_test)))
 
# plot for residual error
 
## setting plot style
plt.style.use('fivethirtyeight')
 
## plotting residual errors in training data
plt.scatter(reg.predict(X_train), reg.predict(X_train) - y_train,
            color = "green", s = 10, label = 'Train data')
 
## plotting residual errors in test data
plt.scatter(reg.predict(X_test), reg.predict(X_test) - y_test,
            color = "blue", s = 10, label = 'Test data')
 
## plotting line for zero residual error
plt.hlines(y = 0, xmin = 0, xmax = 50, linewidth = 2)
 
## plotting legend
plt.legend(loc = 'upper right')
 
## plot title
plt.title("Residual errors")
 
## method call for showing the plot
plt.show()